@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App-body {
    height: 360px;
    border-top: #e1484c solid 3px;
    border-bottom: #e1484c solid 3px;
}
  
.App-body p {
    padding: 30px;
}

img {
    height: 30vmin;
}

