/* .course-list {
    width: 95%;
    margin: auto;
    border: 1px solid gray;
    border-collapse: collapse;
}
  
#course-list {
	width: 90%;
	border: 1px solid lightgrey;
}

thead > tr > td, th {
	border-bottom: 2px solid lightgrey;
} */
  
#course-list {
	width: 90%;
	border: 1px solid lightgrey;
    margin: 0 auto;
}

thead > tr > td, th {
	border-bottom: 2px solid lightgrey;
}
