@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App-body {
    height: 360px;
    border-top: rgb(233, 67, 67) solid 3px;
    border-bottom: rgb(233, 67, 67) solid 3px;
}
  
.App-body p {
    padding: 30px;
}